@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  background: url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.index-card {
  padding: 40px;
  width: 500px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 15px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: center;
}

.index-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 3.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #00C5A8;
}

.index-card h2 {
  font-weight: 200;
  text-align: center;
  font-size: 2.3em;
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00C5A8;
  
}





.index {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

  
}

.index-submit {
  padding: 40px;
  font-size: 1.2em;
  color: #666;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  text-align: center;
  border-width: 1px;
  border-top-style: solid;
  border-top-color: #00C5A8;
  
 
}


.index-card a {
  text-decoration: none;
  color: #CC9900;
  font-size: 1.2em;
  text-align: center;
  display: inline-block;
  
  transition: opacity ease 0.5s;
}

.index-card a:hover {
  opacity: 1;
  color: #3385FF;
  
 
}


.index-task {
  width: 100%;
  text-align: center;
  font-size: 12px;
}

